<span id="subscription-<%= list.id %>" class="btn-action">
  <% if user&.subscribed_to?(list) %>
    <%= link_to list_unsubscribe_path(list),
        method: :patch,
        class: "subscription-subscribed text-decoration-none",
        data: { turbo_method: :patch },
        remote: true do %>
      Subscribed
    <% end %>
  <% else %>
    <%= link_to list_subscribe_path(list),
        method: :patch,
        class: "subscription-unsubscribed text-decoration-none",
        data: { turbo_method: :patch },
        remote: true do %>
      Subscribe
    <% end %>
  <% end %>
</span>
