.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.menu li {
  margin: 0 0.5rem;
}

.layout {
  position: sticky;
  top: 0;
  height: fit-content;
  z-index: 1;
  top: 28vh;
  background: white;
  // border: 1px solid black;
}

.layout-title {
  position: sticky;
  top: 10vh;
  height: fit-content;
  z-index: 1;
  background: white;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 2rem;
}

.input-bar {
  width: 100%;
}
