.navbar-container {
  position: sticky;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #321325;
  position: sticky;
  top: 0;
  height: 80px;
  z-index: 1;
  .nav-link {
    color: #f5f2e8;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
